[Unit]
Description=LoRa gateway
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/home/nothrax/dp/gateway/lora_gateway/
ExecStart=/home/nothrax/dp/gateway/lora_gateway/_build/LoraGateway --config=/home/nothrax/dp/gateway/lora_gateway/resources/configuration/default.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
