version: '3'
services:
  # InfluxDB: https://hub.docker.com/_/influxdb
  influxdb:
    image: influxdb:2.1
    profiles: ["all", "database", "test"]
    ports:
      - 8043:8042
    volumes:
      - ./storage/influxdb:/var/lib/influxdb2 #this will be mounted
      - ./configs/influx:/etc/influx/
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN}
      - INFLUXD_CONFIG_PATH=/etc/influx/config.yaml
    restart: on-failure:10
    networks:
      - iot-emulator
  mosquitto:
    image: eclipse-mosquitto:2.0.18
    user: 1000:1000
    profiles: ["all", "mosquitto", "test"]
    volumes:
      - ./storage/mosquitto/log:/mosquitto/log
      - ./storage/mosquitto/data:/mosquitto/data
      - ./configs/mosquitto:/mosquitto/config/
    ports:
      - 1884:1883
      - 8884:8883
    restart: on-failure:10
    networks:
      - iot-emulator
  gateway:
    image:  gateway
    profiles: ["all", "gateway", "test"]
    volumes:
      - ./configs/gateway:/gateway/config/
      - ./storage/gateway/log:/gateway/log/
      - ./storage/gateway/csv:/gateway/csv/
    entrypoint: ["/gateway/docker_build/LoraGateway",
                 "--config=/gateway/config/for_docker.json"]
    restart: on-failure
    networks:
      - iot-emulator
  uploader:
    image:  uploader
    user: 1000:1000
    profiles: ["all", "uploader"]
    volumes:
      - ./configs/uploader:/uploader/config/
    entrypoint: ["python3", "main.py",
                 "-c", "/uploader/config/for_docker.json"]
    restart: on-failure:10
    networks:
      - iot-emulator

  mariadb:
    image: mariadb:latest
    profiles: ["all", "mariadb"]
    environment:
      MYSQL_ROOT_PASSWORD: example
    volumes:
      - ./storage/mariadb-data:/var/lib/mysql
      - ./configs/mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: on-failure:10
    networks:
      - iot-emulator

  # Add Adminer service
  adminer:
    image: adminer
    profiles: ["all", "mariadb"]
    ports:
      - 8080:8080
    links:
      - mariadb
    restart: on-failure:10
    networks:
      - iot-emulator
networks:
  iot-emulator:
    name: iot-emulator
