version: '3'
services:
  # InfluxDB: https://hub.docker.com/_/influxdb
  influxdb:
    image: influxdb:2.1
    user: 1000:1000
    profiles: ["all", "database"]
    ports:
      - 8069:8069
    volumes:
      - ./storage/influxdb:/var/lib/influxdb2 #this will be mounted
      - ./configs/influx:/etc/influx/
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=trubkacorp
      - DOCKER_INFLUXDB_INIT_BUCKET=test_bucket
      - INFLUXD_CONFIG_PATH=/etc/influx/config.yaml
    restart: on-failure:10
    networks:
      - iot-emulator
  mosquitto:
    image: eclipse-mosquitto:2.0.18
    user: 1000:1000
    profiles: ["all", "mosquitto", "test"]
    volumes:
      - ./storage/mosquitto/log:/mosquitto/log
      - ./storage/mosquitto/data:/mosquitto/data
      - ./configs/mosquitto:/mosquitto/config/
    ports:
      - 1883:1883
      - 8883:8883
    restart: on-failure:10
    networks:
      - iot-emulator
  gateway:
    image:  gateway
    user: 1000:1000
    profiles: ["all", "gateway", "test"]
    volumes:
      - ./configs/gateway:/gateway/config/
      - ./storage/gateway/log:/gateway/log/
      - ./storage/gateway/csv:/gateway/csv/
    entrypoint: ["/gateway/docker_build/LoraGateway",
                 "--config=/gateway/config/for_docker.json"]
    restart: on-failure
    networks:
      - iot-emulator
  uploader:
    image:  uploader
    user: 1000:1000
    profiles: ["all", "uploader", "test"]
    volumes:
      - ./configs/uploader:/uploader/config/
    entrypoint: ["python3", "main.py",
                 "-c", "/uploader/config/for_docker.json"]
    restart: on-failure:10
    networks:
      - iot-emulator
networks:
  iot-emulator:
    name: iot-emulator
